target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/.mvn/
/microservicesboot.ipr
/mvnw.cmd
/mvnw
/microservicesboot.iws
/microservicesboot.iml
.mvn/
mvnw
mvnw.cmd
src/main/resources/static/
src/main/resources/templates/
/out/
out/
